.hero-card {
  width: 280px;
  height: 50vh;
  overflow-y: scroll;
  margin: 30px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.hero-pic {
  width: 250px;
  height: auto;
}

.hero-info {
  width: auto;
  text-align: start;
  box-sizing: border-box;
}

.sub-title {
  font-weight: 600;
}
